{erl_opts, [debug_info]}.
{deps, [cowboy]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlangrest]}
]}.

{plugins, [rebar3_hex]}.
{relx, [{release, {erlangrest, "0.0.1"},[erlangrest]},
        {dev_mode, true},
        {include_ert, false},
        {extended_start_script, true}]
}.
{profiles, [
            {prod, [
                    {relx, [
                           {dev_mode, false},
                           {include_ert, true}
                           ]}
                    ]}
           ]
}.
